Text                                                                                                                                                                                                                                                           
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE   PROCEDURE SP_Products_GetById
    @ProductId INT
AS
BEGIN
    SELECT p.*, 
           (SELECT STRING_AGG(c.Name, ', ') 
            FROM STRING_SPLIT(p.CategoryIds, ',') s 
            JOIN Categories c ON LTRIM(RTRIM(s.value)) = CAST(c.CategoryI
d AS NVARCHAR(20))
           ) as CategoryNames
    FROM Products p 
    WHERE p.ProductId = @ProductId;
END
                                                                                                                                                 
