Text                                                                                                                                                                                                                                                           
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[SP_Products_Insert]
    @CategoryIds NVARCHAR(255),
    @SKU NVARCHAR(50),
    @Name NVARCHAR(255),
    @Slug NVARCHAR(255),
    @ShortDescription NVARCHAR(500),
    @DetailDescription NVARCHAR(MAX),
    @Price DECIMAL(18,0),
    
@OldPrice DECIMAL(18,0),
    @PurchasePrice DECIMAL(18,0),
    @Stock INT,
    @Unit NVARCHAR(50),
    @Weight FLOAT,
    @MainImage NVARCHAR(255),
    @ImageGallery NVARCHAR(MAX),
    @YoutubeVideo NVARCHAR(1000),
    @Tags NVARCHAR(500),
    @RelatedPro
ducts NVARCHAR(500),
    @Accessories NVARCHAR(500) = NULL,
    @IsHot BIT,
    @IsNew BIT,
    @IsBestSeller BIT,
    @Status TINYINT,
    @SeoTitle NVARCHAR(255),
    @SeoDescription NVARCHAR(500),
    @SeoKeywords NVARCHAR(255),
    @ShopeeLink NVARCHA
R(500) = NULL,
    @LazadaLink NVARCHAR(500) = NULL,
    @TechnicalSpecs NVARCHAR(MAX) = NULL,
    @InstructionVideo NVARCHAR(MAX) = NULL,
    @CreatedBy NVARCHAR(200)
AS
BEGIN
    INSERT INTO Products(
        CategoryIds, SKU, Name, Slug, ShortDescripti
on, DetailDescription,
        Price, OldPrice, PurchasePrice, Stock, Unit, Weight,
        MainImage, ImageGallery, YoutubeVideo, Tags, RelatedProducts, Accessories,
        IsHot, IsNew, IsBestSeller, Status,
        SeoTitle, SeoDescription, SeoKeyword
s, 
        ShopeeLink, LazadaLink, TechnicalSpecs, InstructionVideo, CreatedBy
    )
    VALUES(
        @CategoryIds, @SKU, @Name, @Slug, @ShortDescription, @DetailDescription,
        @Price, @OldPrice, @PurchasePrice, @Stock, @Unit, @Weight,
        @
MainImage, @ImageGallery, @YoutubeVideo, @Tags, @RelatedProducts, @Accessories,
        @IsHot, @IsNew, @IsBestSeller, @Status,
        @SeoTitle, @SeoDescription, @SeoKeywords,
        @ShopeeLink, @LazadaLink, @TechnicalSpecs, @InstructionVideo, @Create
dBy
    );
    SELECT SCOPE_IDENTITY();
END
                                                                                                                                                                                                                   
